/* font-family: "PFDinCondensedRegular"; */
@font-face {
    font-family: "PFDinCondensedRegular";
    src: url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.eot");
    src: url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.woff") format("woff"),
    url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFDinCondensedMedium"; */
@font-face {
    font-family: "PFDinCondensedMedium";
    src: url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.eot");
    src: url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.woff") format("woff"),
    url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFDinCondensedLight"; */
@font-face {
    font-family: "PFDinCondensedLight";
    src: url("../fonts/PFDinCondensedLight/PFDinCondensedLight.eot");
    src: url("../fonts/PFDinCondensedLight/PFDinCondensedLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PFDinCondensedLight/PFDinCondensedLight.woff") format("woff"),
    url("../fonts/PFDinCondensedLight/PFDinCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFDinCondensedThin"; */
@font-face {
    font-family: "PFDinCondensedThin";
    src: url("../fonts/PFDinCondensedThin/PFDinCondensedThin.eot");
    src: url("../fonts/PFDinCondensedThin/PFDinCondensedThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PFDinCondensedThin/PFDinCondensedThin.woff") format("woff"),
    url("../fonts/PFDinCondensedThin/PFDinCondensedThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFDinCondensedLightItalic"; */
@font-face {
    font-family: "PFDinCondensedLightItalic";
    src: url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.eot");
    src: url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.woff") format("woff"),
    url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFDinCondensedThinItalic"; */
@font-face {
    font-family: "PFDinCondensedThinItalic";
    src: url("../fonts/PFDinCondensedThinItalic/PFDinCondensedThinItalic.eot");
    src: url("../fonts/PFDinCondensedThinItalic/PFDinCondensedThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PFDinCondensedThinItalic/PFDinCondensedThinItalic.woff") format("woff"),
    url("../fonts/PFDinCondensedThinItalic/PFDinCondensedThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    padding-top: 70px;
}

h1, h2, h3 {
    display: block;
    text-transform: uppercase;
    font-family: PFDinCondensedMedium, helvetica, georgia, serif;
    padding: 25px 0 0 5px;
}

a {
    color: #017AC3
}

.header {
    display: block;
    text-transform: uppercase;
    font-family: PFDinCondensedMedium, helvetica, georgia, serif;
    padding: 5px 0;
    margin: 0;
}

.header1 {
    font-size: 30px;
}

.header2 {
    font-size: 18px;
}

.header2 a {
    color: #000;
    font-weight: normal !important;
}

.header3 {
    font-size: 16px;
}

.header-title {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

input[type=text], .btn, .form-control, .panel, .input-group-addon, .alert, .thumbnail, .progress, .modal, .modal-content {
    border-radius: 0;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    font-weight: bold;
    text-transform: uppercase;
}

.info-list li a {
    font-weight: normal;
    text-transform: none;
    margin-right: 25px;
}

.info-list li > span {
    color: #868686;
    font-weight: normal;
}

.multi-list, .multi-list ul {
    list-style: none;
    padding: 0;
}

.multi-list ul {
    padding-left: 10px;
}

.dashed_underline {
    border-bottom: 1px dashed #ccc;
}

/************************************************************************
    Форма авторизации
**************************************************************************/
.auth-form {
    position: relative;
    top: 120px;
}

.auth-form form {
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
}

/************************************************************************
    Главная страница
**************************************************************************/

.main-header {
    /*border-bottom: 1px dashed #ccc;*/
    margin-bottom: 15px;
}

.main-header h1 {
    padding: 0;
}

.main-menu .navbar-nav>li>a {
    text-transform: uppercase;
}
.main-menu .navbar-nav>li>a:hover, .main-menu .navbar-nav>li>a:active,
.main-menu .navbar-nav>li>a:focus {
    background: #05adfc;
}

.main-menu .dropdown.open > a {
    background: #05adfc;
}

.main-menu .dropdown-menu>li>a {
    padding: 15px 20px;
}
.main-menu .dropdown-menu>li>a:hover {
    background: #dadada;
}


.main-page .multi-list a {
    font-weight: bold;
}

.main-page .multi-list li.sub-item {
    color: #868686;
    font-weight: bold;
    cursor: pointer;
}

.main-page .multi-list li.sub-item:hover {
    text-decoration: underline;
    color: #0f0f0f;
}

.card {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.card-wrap {
    width: 48%;
}

.card-wrap {
    margin-right: 15px;
    margin-bottom: 15px;
}

/************************************************************************
    Формы
**************************************************************************/
.detail_contract .card-group .card {
    height: 200px;
}

/************************************************************************
    Формы
**************************************************************************/
.is-form {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
}

.glyphicon.glyphicon-question-sign {
    font-size: 30px;
    cursor: pointer;
}

.files .glyphicon.glyphicon-check {
    font-size: 30px;
    margin-right: 10px;
}

.file-name {
    width: 650px;
}

.files.list-unstyled li {
    padding: 10px 0;
}

.file-input {
    width: 125px;
}

.proplems-name {
    width: 335px;
}

/************************************************************************
    Администрирование
**************************************************************************/

.list-unstyled > li > a {

}

.blue-list > li > a {
    color: #017AC3 !important;
}

.badge-danger {
    background: #c12e2a;
}

.badge-top {
    position: absolute !important;
    right: 10px !important;
    top: -5px !important;

}

.query-list {
    border-right: 1px solid #ccc;
}

.query-list ul {
    padding-right: 15px;
}

.query-list ul > li {
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.query-list ul > li:hover {
    background: #ececec;
}

.search-bar {
    margin-top: 7px;
    background: #0172B7;
    border: none;
    color: #fff;

}

.search-bar::-webkit-input-placeholder {
    color: #DEDEDE;
}

.search-bar::-moz-placeholder {
    color: #DEDEDE;
}

/* Firefox 19+ */
.search-bar:-moz-placeholder {
    color: #DEDEDE;
}

/* Firefox 18- */
.search-bar:-ms-input-placeholder {
    color: #DEDEDE;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.help-btn {
    margin-left: 30px;
    padding: 15px;
}

.dashed-border-bottom {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 5px;
}

.tab-btn {
    position: relative !important;
}

.action-list {
    font-size: 0.5em;
}

.action-list > li > a {
    color: #ccc;
}

.table-bordered thead tr th {
    vertical-align: middle;
}

.table.mail tr>td {
    vertical-align: middle;
}
.table.mail tr.unreed {
    font-weight: bold;
}

#ploshadki {
    font-size: 12px;
}

.pay-methods img {

}

.btn-default:hover, .btn-default:active {
    color: #000;
}