.blue, .navbar-blue {
    background:#017AC3;
    color: #fff;
}

.text-blue{
    color: #017AC3;
}

.light-blue{
    background: #05a2ef;
    color: #fff;
}
.light-blue:hover, .light-blue:focus{
     background: #05adfc;
     color: #fff;
 }
.blue:hover, .blue:focus{
    background: #05a2ef;
    color: #fff;
}